<div class="flex flex-col justify-center">
	<div class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto  bg-gray-700">
	    <div class="w-full md:w-1/3  grid place-items-center">
			<img src="https://images.pexels.com/photos/4381392/pexels-photo-4381392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="hero picture" class="rounded-xl" />
        </div>
		<div class="w-full md:w-2/3  flex flex-col space-y-2 p-3">
		    <div class="flex justify-between item-center">
			    <p class="text-neutral-300 font-medium hidden md:block">Hero Name</p>
		    </div>
            <div>
                <p class="">Win <span class=" text-xs text-yellow-400">80%</span></p>
                <div class="h-4 relative w-60 rounded-full overflow-hidden">
                    <div class=" w-full h-full bg-gray-200 absolute "></div>
                    <div class=" h-full bg-yellow-400 sm:bg-green-500 absolute" style="width:80%"></div>
                </div>
                <p class="">With <span class=" text-xs text-red-500">70%</span></p>
                <div class="h-4 relative w-60 rounded-full overflow-hidden">
                    <div class=" w-full h-full bg-gray-200 absolute "></div>
                    <div class=" h-full bg-red-500 sm:bg-yellow-400 absolute" style="width:70%"></div>
                </div>
                <p class="">Against <span class=" text-xs text-green-500">60%</span></p>
                <div class="h-4 relative w-60 rounded-full overflow-hidden">
                    <div class=" w-full h-full bg-gray-200 absolute "></div>
                    <div class=" h-full bg-green-500 sm:bg-red-500 absolute" style="width:60%"></div>
                </div>
                <small>(win/total)</small>
            </div>
		</div>
	</div>
</div>