<section class="overflow-x-auto  bg-gray-800" *ngIf="isReady">
  <div class="flex justify-center max-w-sm mx-auto mt-4 p-6 bg-white text-gray-400 rounded-lg  dark:bg-gray-700 ">
    {{matchData.radiantScore}} X {{matchData.direScore}}
  </div>
  <div class="md:flex md:justify-center md:space-x-10 sm:block ">
    <div class="flex items-center justify-center sm:my-4">
      <div class="col-span-12  p-2 rounded ">
        <h4 class="flex justify-center text-xl text-neutral-300">
          Radiant
        </h4>
        <div class="overflow-auto lg:overflow-visible ">
            <app-team-table [players]="matchData.radiantTeam"></app-team-table>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="col-span-12 p-2 rounded">
        <h4 class="flex text-xl justify-center text-neutral-300">
          Dire
        </h4>
        <div class="overflow-auto lg:overflow-visible ">
          <app-team-table [players]="matchData.direTeam"></app-team-table>
        </div>
      </div>
    </div>
  </div>
</section>