<section id="hero" class="bg-gray-900" *ngIf="isReady">
  <div class="container flex flex-col
        md:flex-row items-center px-6 mx-auto py-6
        lg:space-y-0  ">

    <div class="">
      <img src="{{ playerData.avatarImageFull }}" class=" border-2" alt="profile picture of the player">
    </div>

    <div class=" flex flex-row  mt-10 px-6 grow">
      <div  class=" md:w-1/2 text-neutral-400">
        <div class="flex flex-col ">
          <div class="flex flex-row mx-auto lg:mx-0">
            <h3 class=" flex-col lg:text-5xl text-4xl  ">{{playerData.personaName}}</h3>
          </div>
          <div class="flex flex-row  mx-auto lg:mx-0 ">
            <a href={{playerData.profileurl}}><fa-icon [icon]="['fab','steam']" class=" text-blue-400 mr-2"></fa-icon>
              Steam Profile
            </a>
          </div>
        </div>
        <div class="flex lg:flex-row flex-col mt-4 items-center">
          <h6 class="text-lg">Estimated MMR: {{playerData.mmrEstimate}} </h6>
          <img src={{estimatedMedal}} alt="" class="flex flex-col lg:w-1/6 w-2/6 h-3/6 " alt="estimated">
        </div>

        <div class="flex lg:flex-row flex-col mt-4 items-center">
          <h6 class="text-lg">Won: <span class="text-lime-500">588</span></h6>
          <h6 class="text-lg lg:ml-2">Lost: <span class="text-rose-400">621</span></h6>
        </div>

      </div>
    </div>

    <div class="flex flex-col lg:w-1/6 w-2/6 h-3/6 items-center mt-10">
      <div class="flex flex-row mx-auto">
        <img src="{{realMedal}}" alt="">
        
      </div>
    </div>

  </div>
</section>

<section class="  overflow-x-auto  bg-gray-800" *ngIf="isReady">
  <div class="flex justify-center text-2xl p-2 mt-10 text-neutral-400">
    Recent Matches
  </div>
  <div class="flex items-center justify-center sm:my-4 ">
    <table class="table text-gray-400 border-separate space-y-6 text-lg">
      <thead class="bg-gray-700 text-gray-500">
        <tr>
          <th class="p-3">Hero</th>
          <th class="p-3 text-left">Result</th>
          <th class="p-3 text-left">Score</th>
          <th class="p-3 text-left">Team</th>
          <th class="p-3 text-left">Rank</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let match of matches">
            <tr class="bg-gray-600" (click)="redirectToPage(match)">
              <td class="p-3">
                <div class="flex items-center justify-center flex-col	">
                  <img class="rounded-full h-16 w-16  object-cover"
                    src="http://api.opendota.com{{ match.hero.image }}" alt="unsplash image">
                  <p class="text-gray-500">{{match.hero.localizedName}}</p>
                </div>
              </td>
              <td class="p-3"  [ngClass]="match.playerWon ? 'text-lime-500	' : 'text-rose-400	'">
                {{ match.playerWon  && "Won" || "Lost"}}
              </td>
              <td class="p-3 font-bold">
                {{ match.kills + "/" + match.deaths + "/" + match.assists}}
              </td>
              <td  class="p-3 font-bold">
                {{ match.faction }}
              </td>
              <td class="p-3 font-bold p-1 mr-1">
                <ng-container *ngIf="match.averageRank!=0; then rank; else noRank"></ng-container>

                <ng-template #rank>
                  <img src="{{ this.calculateRealRank(match.averageRank) }}" alt=""  class="rounded-full h-16 w-16  object-cover">
                </ng-template>
                <ng-template #noRank>
                  <img src="../../../assets/rank/rank1.webp" alt="" class="rounded-full h-16 w-16  object-cover">
                </ng-template>
              </td>
            </tr>

        </ng-container>
      </tbody>
    </table>
  </div>
</section>



