<div class="bg-neutral-900">
  <nav class="relative container mx-auto p-6 drop-shadow-xl text-neutral-100">
    <div class="flex items-center justify-between">
      <!-- logo-->
      <div class="flex  pt-2 sm:px-10 text-2xl text-neutral-200 ">
        <a href="/" class="font-raleway"> Dota Analyzer</a>
      </div>
      <!-- menu items-->
      <div class="hidden lg:flex space-x-6">
        <a href="/heroes" class="text-neutral-200 hover:text-violet-400">Heroes</a>
        <a href="/matches" class="text-neutral-200 hover:text-violet-400">Matches</a>
        <a href="/players" class="text-neutral-200 hover:text-violet-400">Players</a>
      </div>
    </div>
  </nav>
</div>
<router-outlet>

</router-outlet>
