<div class="bg-neutral-900">
  <nav class="relative container mx-auto p-6 drop-shadow-xl text-neutral-100">
    <div class="flex items-center justify-between">
      <!-- logo-->
      <div class="pt-2 text-2xl ">
        <a href="/"> Dota Trainer</a>
      </div>
      <!--menu items -->
      <div class="hidden md:flex space-x-6">
        <a href="/heroes" class="hover:text-neutral-400">Heroes</a>
        <a href="/matches" class="hover:text-neutral-400">Matches</a>
        <a href="/players" class="hover:text-neutral-400">Players</a>
      </div>
    </div>
  </nav>
</div>
<router-outlet>

</router-outlet>
