<section class="flex flex-row h-65 bg-neutral-800">
  <section class="flex mx-auto flex-col mt-48 mb-24">
    <input type="text" class=" searchInput placeholder-gray-500 p-4 rounded-full ">
  </section>
</section>
<nav class="bg-neutral-800 grid lg:grid-cols-3 lg:p-24 p-6">
    <div class="p-2 bg-neutral-100 border-2">
        <h3>Heroes</h3>
        <p>
          See all the info of the true stars of Dota 2.
        </p>
    </div>
    <div class="p-2 bg-neutral-200 ">
      <h3>Player Data</h3>
      <p>
        Here you can find all the data you want about yourself as a Dota player, or about any other player!
      </p>
    </div>
    <div class="p-2 bg-neutral-200 ">
      <h3>Meta Game</h3>
      <p>
        Explore the actual state of art in Dota 2 pro and ranked scenary.
      </p>
    </div>
</nav>

