.searchInput{
  height: 6vh;
  font-size: 2.5em;
  @apply placeholder-gray-500 p-4 rounded-full text-center
}
@screen sm{
  .searchInput{
    width: 85vw;
  }
  .img-center{
    width: 40vw;
  }
}
@screen lg{
  .searchInput{
    width: 55vw;
  }
  .img-center{
    width: 10vw;
  }
}

.card-menu{
  cursor: pointer;
  @apply rounded-2xl bg-gradient-to-r from-pink-500  to-violet-500 p-1 max-h-min
}

.card-body{
 @apply block rounded-xl bg-neutral-700 p-4 sm:p-6 lg:p-8 hover:bg-neutral-600
}

.img-center{display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

.bg-wallpaper{
  background-image: url("/assets/wpp.png");
  background-repeat: no-repeat;

  background-position: center;
  margin-top: -6rem;
}
