<figure class="bg-wallpaper">
  <img src="../assets/logo.png" alt="" class="img-center">
  <section class="flex flex-row ">
    <section class="flex mx-auto flex-col mt-20 mb-20">
      <input type="text" class=" searchInput shadow-2xl " >
    </section>
  </section>
</figure>
<nav class=" grid lg:grid-cols-3 mx-10 mt-10 text-neutral-200">
    <div class="card-menu m-2">
      <a class="card-body" href="/heroes">
        <h3 class="my-2 font-raleway-bold">Heroes</h3>
        <p>
          See all the info of the true stars of Dota 2.
        </p>
      </a>
    </div>
    <div class="card-menu m-2" >
      <a class="card-body" href="/player">
        <h3 class="font-raleway-bold my-2">Player Data</h3>
        <p>
          Here you can search for player stats.
        </p>
      </a>
    </div>
    <div class="card-menu m-2">
      <a class="card-body" href="/">
        <h3 class="font-raleway-bold my-2">Meta Game</h3>
        <p>
          Explore the state of Dota 2 pro and ranked scenary.
        </p>
      </a>
    </div>
</nav>

