
<img src="../assets/logo.png" alt="" class="img-center">
<section class="flex flex-row ">
  <section class="flex mx-auto flex-col mt-20 mb-20">
    <input type="text" class=" searchInput " >
  </section>
</section>
<nav class=" grid lg:grid-cols-3 mx-10 ">
    <div class="card-menu">
        <h3 class="font-black my-2">Heroes</h3>
        <p>
          See all the info of the true stars of Dota 2.
        </p>
    </div>
    <div class="card-menu lg:my-0 my-2" >
      <h3 class="font-black my-2">Player Data</h3>
      <p>
        Here you can find all the data you want about yourself as a Dota player, or about any other player!
      </p>
    </div>
    <div class="card-menu">
      <h3 class="font-black my-2">Meta Game</h3>
      <p>
        Explore the actual state of art in Dota 2 pro and ranked scenary.
      </p>
    </div>
</nav>

