.searchInput{
  height: 6vh;
  font-size: 2.5em;
  @apply placeholder-gray-500 p-4 rounded-full text-center
}
@screen sm{
  .searchInput{
    width: 85vw;
  }
  .img-center{
    width: 40vw;
  }
}
@screen lg{
  .searchInput{
    width: 55vw;
  }
  .img-center{
    width: 10vw;
  }
}

.card-menu{
  cursor: pointer;
  @apply p-4  bg-neutral-600 hover:bg-violet-700  mx-4 rounded-lg

}

.img-center{display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

.bg-wallpaper{
  background-image: url("/assets/wpp.png");
  background-repeat: no-repeat;

  background-position: center;
  margin-top: -6rem;
}
